/** @format */

.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(5px);
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.card_modal {
	background: white;
	filter: drop-shadow(1px 8px 10px #0808ff);
	padding: 1rem;
	border-radius: 1rem;
	width: 400px;
	animation: scaleup 0.5s;
	overflow-y: scroll;
}
@keyframes scaleup {
	0% {
		opacity: 0;
		transform: scale(0.5);
		/* transform: translateY(-50px); */
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}
.card_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}
.card_header h2 {
	font-size: 1.5rem;
	font-weight: 500;
}
.card_header svg {
	cursor: pointer;
	font-size: 3.5rem;
}

.card_body {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1rem;
}

.card_body p {
	font-size: 1rem;
	font-weight: 900;
	margin-bottom: 1rem;
}
.card_body h5  {
	font-weight: 700;
}
.card_body h5 span {
	font-size: 0.9rem;
	font-weight: 400;
}
.LOW {
	color: #00ff00;
	font-weight: 900;
	font-size: 2rem;
}
.MEDIUM {
	color: #ffbf00;
	font-weight: 900;
	font-size: 2rem;
}
.HIGH{
	color: #f17474;
	/* color: #ff0000; */
	font-weight: 900;
	font-size: 2rem;
}
.SEVERE {
	color: #ff0000;
	font-weight: 900;
	font-size: 2rem;
}
.card_button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.card_button button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background: #0808ff;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

/* COVID CARD COMPONENT */
.covid_card {
	background: white;
	filter: drop-shadow(1px 8px 10px #0808ff);
	transition: all 0.3s ease-in-out;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 1rem;
	border-radius: 1rem;
}


.covid_cardbuttons{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.covid_cardbuttons button {
	padding: 0.5rem 1rem;
    margin: 1rem 0;
    width: 200px;
	border: none;
	border-radius: 0.5rem;
	background: #0808ff;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}
.covid_card_symptoms p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #313131;
    text-align: center;
    margin-bottom: 1rem;
}
.images{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}